*{
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
  header{
    text-align: center;
    background-color:rgb(255, 40, 100);
  }
  #logo{
    margin: 10px;
    margin-left: 150px;
    float: left;
  }
  header h1{
      font-size: 3em;
    font-family: cursive;
    text-transform: capitalize;
  }
  h1 + p.subtitulo{
    font-size: 2em;
    word-spacing: 3em;
    letter-spacing: 1em;

  }
  a:link{
  color:blue;

}
a:visited{
  color:rgb(255, 0, 149);
}
a:hover{
  color:#ff0000;
}
a:active{
  color:purple;
}
p:active{
  color:
}
h1:hover{
  color:#ff0000
}

 body{

   background-image: url("imagens/fundo.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
 }

 ul.Menu{
   list-style-type:none;
 }

 header{
   width: 100%;
   height: 130px;
 }
 h1{
   padding: 25px;
 }


nav ul li{
  padding-top: 5px;
}

header{


  z-index: 5;
}
nav{
  position: fixed;
  margin: 40px;
  top: 90px;
  float: right;
  width: 95%;
}
main {
    position: relative;
    top: 0px;
    float: none;
    float: left;
    margin: 30px;
    padding-bottom: 20px;
    width: 95%;
}
main {

    background-color: #FFE4E1;
}


main {
    display: block;
}
.a a{
  color: midnightblue;
  font-size: 2em;
}
.a{
  text-align: center;
  color: black;
  font-size: 1em;

    border-width:2px;
    position:relative;
    float: left;

}
.b a{
  color: midnightblue;
  font-size: 2em;
}
.b{
  text-align: center;
  color: black;
  font-size: 1em;
  position:relative;
    border-width:2px;
    float: left;
}
.c a{
  color: midnightblue;
  font-size: 2em;
}
.c{
  text-align: center;
  color: black;
  font-size: 1em;
}
footer{

  height: 50px;
  width: 200px;
  background-color: #F5DEB3;
  border: 4px solid midnightblue;
}
#carouselExampleIndicators{
  margin-top: 190px;
  width: 90%;
  padding-left: 110px;
  color: black;
}
#palavra{
  font-size: 2em;
  color: red;
}
